.navbar {
	z-index: 99!important;
}

.navbar-brand img{
	max-height: 40px;
}

/* Modal */
.modal {
	display: none;
	z-index: 101;
	height: 560px;
	width: 400px;
	background-color: rgba(255,255,255,0.13);
	position: fixed;
	transform: translate(-50%,-50%);
	top: 50%;
	left: 50%;
	border-radius: 10px;
	backdrop-filter: blur(10px);
	border: 2px solid rgba(255,255,255,0.1);
	box-shadow: 0 0 40px rgba(8,7,16,0.6);
	padding: 50px 35px;
}

.modal h1{
    font-family: 'Poppins',sans-serif;
    color: white;
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

.modal form{
	padding-top: 15px;
}

.modal form *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

.modal form label{
    display: block;
    margin-top: 15px;
    font-size: 20px;
    font-weight: 500;
}

.modal form input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.17);
    border-radius: 5px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

.modal 	form button{
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.modal-input {
	margin: 0.5rem 0;
}


.modal-actions {
	text-align: right;
}

button.btn-cancel {
	border-color: red;
	color: red;
}


button.btn-confirm:hover,
button.btn-confirm:active {
	color: white;
	background: green;
}

.backdrop {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	z-index: 100;
}

.open {
	display: block;
}

